h1{
    background-color: black;
    color: aqua;
    text-align: center;
    margin: auto;
    height: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;

    
    
}
h1:hover{
    color: white;
    transform: scale(1.2);

}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 30px;
    /* width: 50%; */
}
div{
    margin-top: 10px;
    background-color: aqua;
    width: 50%;
    height: 200px;
    overflow: scroll;
}
.lorem{
    float: right;
}